<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal();">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form (ngSubmit)="store(champForm)" #champForm="ngForm" novalidate>
    <div class="form-group">
        <label for="name" class="control-label">Nombre</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="champion.name" required minlegth="4">
    </div>
    <div class="form-group">
        <label for="type" class="control-label">Tipo</label>
        <select class="form-control" name="type" [(ngModel)]="champion.type" required>
          <option value="">Seleccione</option>
          <option *ngFor="let type of types" value="{{ type.id }}">{{ type.name }}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="line" class="control-label">Linea</label>
        <select class="form-control" name="line" [(ngModel)]="champion.line" required>
          <option value="">Seleccione</option>
          <option *ngFor="let line of lines" value="{{ line.id }}">{{ line.name }}</option>
        </select>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary">Aceptar</button>
  <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
</div>