<div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-6">
            <h4 class="card-title">Campeones</h4>
        </div>
        <div class="col-6">
            <button class="btn btn-info pull-right" type="button" name="button" (click)="createChampion(create)"><i class="fa fa-plus"></i> Nuevo</button>
        </div>
      </div>
        <h6 class="card-subtitle">Lista de todos los campeones ingresados</h6>
          <ngx-datatable
            #table
            class='material'
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="10"
            [rows]='champions'
            >
            <ngx-datatable-column name="Nombre" prop="name">
            </ngx-datatable-column>
            <ngx-datatable-column name="Tipo" prop="type">
            </ngx-datatable-column>
            <ngx-datatable-column name="Linea" prop="line">
            </ngx-datatable-column>
            <ngx-datatable-column name="Acciones" prop="id">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div class="btn-group">
                    <button class="btn btn-info" title="Ver" (click)="showChampion(show,value)"><i class="fa fa-eye"></i></button>
                    <button class="btn btn-warning" title="Editar" (click)="editChampion(edit,value)"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-danger" title="Eliminar"><i class="fa fa-trash"></i></button>
                </div>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
      <ng-template #create>
        <form (ngSubmit)="storeChampion(formCreate)" #formCreate="ngForm" novalidate="">
          <div class="modal-header">
            <h4 class="modal-title pull-left">Crear</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body fadeIn animated">
            <div class="form-group" [ngClass]="{ 'has-danger': (name.errors?.required || name.errors?.maxlength) && name.touched }">
              <label for="">Nombre</label>
              <input class="form-control" type="text" name="name" [(ngModel)]="champion.name" required maxlength="100" #name="ngModel">
              <div *ngIf="name.errors?.required">
                <small class="form-control-feedback">Este campo es requerido</small>
              </div>
              <div *ngIf="name.errors?.maxlength">
                <small class="form-control-feedback">Este campo no puede superar los 100 caracteres</small>
              </div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-danger': (type.errors?.required) && type.touched }">
              <label for="">Tipo</label>
              <select class="form-control" name="type" [(ngModel)]="champion.type_id" required #type="ngModel">
                <option value="">Seleccione</option>
                <option *ngFor="let type of types" [value]="type.id">{{ type.name }}</option>
              </select>
              <div *ngIf="type.errors?.required">
                <small class="form-control-feedback">Este campo es requerido</small>
              </div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-danger': (line.errors?.required) && line.touched }">
              <label for="">Linea</label>
              <select class="form-control" name="line" [(ngModel)]="champion.line_id" required #line="ngModel">
                <option value="">Seleccione</option>
                <option *ngFor="let line of lines" [value]="line.id">{{ line.name }}</option>
              </select>
              <div *ngIf="type.errors?.required">
                <small class="form-control-feedback">Este campo es requerido</small>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-info" [disabled]="formCreate.invalid" type="submit" name="accept_button">Aceptar</button>
            <button class="btn btn-default" type="button" name="cancel_button" (click)="modalRef.hide()">Cancelar</button>
          </div>
        </form>
      </ng-template>
      <ng-template #edit>
        <form (ngSubmit)="updateChampion(updateForm)" #updateForm="ngForm" novalidate="">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Editar</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body fadeIn animated">
            <div class="form-group" [ngClass]="{ 'has-danger': (name.errors?.required || name.errors?.maxlength) && name.touched }">
              <label for="">Nombre</label>
              <input class="form-control" type="text" name="name" [(ngModel)]="champion.name" required maxlength="100" #name="ngModel">
              <div *ngIf="name.errors?.required">
                <small class="form-control-feedback">Este campo es requerido</small>
              </div>
              <div *ngIf="name.errors?.maxlength">
                <small class="form-control-feedback">Este campo no puede superar los 100 caracteres</small>
              </div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-danger': type.errors?.required && type.touched }">
              <label for="">Tipo</label>
              <select class="form-control" name="type" [(ngModel)]="champion.type_id" required #type="ngModel">
                <option value="">Seleccione</option>
                <option *ngFor="let type of types" [value]="type.id">{{ type.name }}</option>
              </select>
              <div *ngIf="type.errors?.required">
                <small class="form-control-feedback">Este campo es requerido</small>
              </div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-danger': line.errors?.required && line.touched }">
              <label for="">Linea</label>
              <select class="form-control" name="line" [(ngModel)]="champion.line_id" required #line="ngModel">
                <option value="">Seleccione</option>
                <option *ngFor="let line of lines" [value]="line.id">{{ line.name }}</option>
              </select>
              <div *ngIf="type.errors?.required">
                <small class="form-control-feedback">Este campo es requerido</small>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-info" [disabled]="updateForm.invalid" type="submit" name="accept_button">Aceptar</button>
          <button class="btn btn-default" type="button" name="cancel_button" (click)="modalRef.hide()">Cancelar</button>
        </div>
        </form>
      </ng-template>
      <ng-template #show>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Detalle del Campeón</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="card bounceIn animated">
              <div class="el-card-item">
                  <div *ngIf="champion.image; else default_image" class="el-card-avatar text-center">
                    <img src="#" class="img-circle" width="233" alt="{{ champion.name }}">
                  </div>
                  <div class="el-card-content m-t-20 text-center">
                      <h3 class="box-title">{{ champion.name }}</h3>
                      <small>{{ champion.type }}</small>
                      <br>
                      <small>{{ champion.line }}</small>
                      <br>
                  </div>
              </div>
          </div>
        </div>
      </ng-template>
      <ng-template #default_image>
        <div class="el-card-avatar text-center">
          <img class="img-circle" width="233" src="assets/assets/images/users/4.jpg" alt="LOL">
        </div>
      </ng-template>
    </div>
</div>
